nav {
  height: 50px;
  background: #e1e1e1;
  display: flex;
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 0 10px;
  width: 100%;
}

.nav__brand > h3 {
  font-size: 24px;
}

.nav__item {
  display: flex;
  align-items: center;
  margin: 0;
  list-style: none;
}

.nav__item > .nav__link {
  margin-left: 15px;
  padding: 5px 10px;
  cursor: pointer;
}

.nav__item > .nav__link:hover {
  background: #fff;
}