.home__container {
  max-width: 1100px;
  width: 100%;
  margin: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 30px;
}

td, th {
  border: 1px solid #7479c5;
  padding: 8px;
}

tr:nth-child(even){
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4c53af;
  color: white;
}

button {
  padding: 6px 18px;
  background: #bd2424;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #db3838;
}